body    {
    background: wheat;
    font: normal 15pt Arial;
    text-align: center;
}
input#verif {
    width: 100px;
    height: 25px;
    margin-left: 10px;
    text-align: center;
}
div#res {
    margin-top: 20px;
}
div#velcar  {
    font: normal 20pt Arial;
}
    
